@font-face {
  font-family: bigJohn;
  src: url(./fonts/BIG_JOHN.otf);
}

body {
  background-image: linear-gradient(#C3303E, #6D121A);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0em;
}

header {
  margin: 0em;
  background-color: #C3303E;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  width: 100%
}

li:nth-of-type(1) {
  float: left;
}
li:nth-of-type(2) {
  float: left;
}
li:nth-of-type(3) {
  float: left;
}

li a {
  display: block;

}

h1 {
  font-family: bigJohn;
  color: #f1f1f1;
}
.wrapper{
  margin: 10% auto;
  width: 400px;
}
label{
  display: block;
  cursor: pointer;
  padding: 10px;
  background: #fff;
  border-bottom: none;
}

label:hover{
  background: #26C281;
}

ul ul li{
  padding: 10px;
  background: #59ABE3;
}


input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1); 
}

input[type="checkbox"]:checked + label{
  background: #26C281;
  border-bottom: 1px solid #fff;
}
